<%= form_for(@user, :html => { :class => "companyForm"}) do |f| %>
	<h2 style="color: #555">I want to hire a freelance recruiter</h2>
	<%= render 'shared/error_messages', object: f.object %>
	<%= f.text_field :name, :placeholder => "Enter your name" %>
	<%= f.text_field :email, :placeholder => "Enter your email" %>
	<%= f.hidden_field :usertype, :value => "1 - company" %>
	<%= f.submit "Submit", class: "btn btn-success" %>
<% end %>