<%= form_for(@user, :html => { :class => "companyForm"}) do |f| %>
	</br>
	<h2 style="color: #555">Contratar especialista em recrutamento</h2>
	<%= render 'shared/error_messages', object: f.object %>
	<%= f.text_field :name, :placeholder => "Escreva seu nome", :class => "input-large" %>
	<%= f.text_field :email, :placeholder => "Escreva seu email", :class => "input-large" %>
	<%= f.hidden_field :usertype, :value => "1 - empresa" %>
	</br>
	<%= f.submit "Cadastrar já", class: "btn btn-success" %>
<% end %>